absl-py==2.3.1
aiodns==3.5.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiohttp-retry==2.9.1
aiomysql==0.2.0
aiosignal==1.3.2
aiosqlite==0.21.0
alembic==1.13.1
amqp==5.3.1
androguard==3.4.0a1
annotated-types==0.7.0
anthropic==0.69.0
anyio==4.12.0
appnope==0.1.4
APScheduler==3.11.0
argcomplete==3.6.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asn1crypto==1.5.1
ast-comments==1.2.3
asttokens==3.0.0
async-lru==2.0.5
asyncer==0.0.11
asyncio==4.0.0
asyncpg==0.31.0
attrs==25.3.0
auth0-python==4.4.0
Authlib==1.6.6
babel==2.17.0
backoff==2.2.1
bandit==1.9.2
base58==2.1.1
bcrypt==4.0.1
beautifulsoup4==4.13.4
bidict==0.23.1
billiard==4.2.4
bitarray==3.7.1
black==24.2.0
bleach==6.2.0
boto3==1.35.85
botocore==1.35.85
Brotli==1.1.0
build==1.3.0
CacheControl==0.14.3
cachetools==4.2.2
cairocffi==1.7.1
CairoSVG==2.8.2
catboost==1.2.8
ccxt==4.4.92
celery==5.6.0
certifi==2025.11.12
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.2
chiasmodon==3.0.3
ckzg==2.1.5
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.1.1
cmaes==0.12.0
coincurve==21.0.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.3
contourpy==1.3.2
coverage==7.13.0
cryptography==46.0.3
cssselect2==0.8.0
curl_cffi==0.11.4
cycler==0.12.1
Cython==3.1.4
cytoolz==1.0.1
datasieve==0.1.9
dateparser==1.2.2
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
distlib==0.4.0
distro==1.9.0
dnspython==2.7.0
docstring_parser==0.17.0
dogpile.cache==1.5.0
dparse==0.6.4
ecdsa==0.19.1
email_validator==2.2.0
ephem==4.2
et_xmlfile==2.0.0
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==5.2.0
exceptiongroup==1.3.1
execnet==2.1.1
executing==2.2.1
Faker==37.1.0
Farama-Notifications==0.0.4
fastapi==0.115.12
fastapi-cache2==0.2.1
fastjsonschema==2.21.2
ffmpy==1.0.0
filelock==3.18.0
filetype==1.2.0
firebase_admin==7.1.0
flake8==7.3.0
flake8-bugbear==25.11.29
flake8-docstrings==1.7.0
flatbuffers==25.12.19
fonttools==4.58.5
forex-python==1.8
fqdn==1.5.1
freezegun==1.4.0
freqtrade==2025.8
freqtrade-client==2025.8
frozendict==2.4.6
frozenlist==1.6.0
fsspec==2025.9.0
ft-pandas-ta==0.3.15
geoip2==4.8.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.183.0
google-auth==2.45.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.4.0
google-crc32c==1.7.1
google-genai==1.56.0
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gql==3.5.0
gradio==6.2.0
gradio_client==2.0.2
graphql-core==3.2.5
graphviz==0.21
greenlet==3.2.3
groovy==0.1.2
grpcio==1.75.0
grpcio-status==1.71.2
gymnasium==1.2.0
h11==0.16.0
h2==4.2.0
hexbytes==1.3.1
hf-xet==1.2.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.0
httptools==0.6.4
httpx==0.28.1
huggingface_hub==1.2.3
humanfriendly==10.0
humanize==4.13.0
hyperframe==6.1.0
identify==2.6.13
idna==3.10
ImageIO==2.37.2
iniconfig==2.1.0
interrogate==1.7.0
ipykernel==6.30.1
ipython==9.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
isort==5.13.2
janus==2.0.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.1
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
kombu==5.6.1
lark==1.2.2
lazy_loader==0.4
lighter-sdk @ git+https://github.com/elliottech/lighter-python.git@b489f27896dd9df8c45c22b1b85adf5011861e3a
lightgbm==4.6.0
limits==5.6.0
llvmlite==0.46.0
loguru==0.7.2
lxml==6.0.2
Mako==1.3.10
Markdown==3.9
markdown-it-py==3.0.0
markdownify==0.13.1
MarkupSafe==3.0.2
marshmallow==4.1.1
matplotlib==3.10.3
matplotlib-inline==0.1.7
maxminddb==2.7.0
mccabe==0.7.0
mdurl==0.1.2
mistune==3.1.4
mpmath==1.3.0
msgpack==1.1.1
multidict==6.4.3
multitasking==0.0.11
mypy==1.8.0
mypy_extensions==1.1.0
narwhals==2.5.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nbstripout==0.8.1
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.5
nltk==3.9.2
nodeenv==1.9.1
notebook==7.4.5
notebook_shim==0.2.4
numba==0.63.1
numpy==1.26.3
onnxruntime==1.23.2
openai==1.101.0
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
optuna==4.5.0
orjson==3.11.3
ostium-python-sdk==3.0.1
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.0
pandocfilters==1.5.1
parsimonious==0.10.0
parso==0.8.5
passlib==1.7.4
pathspec==0.12.1
pathvalidate==3.2.3
peewee==3.18.1
pendulum==3.1.0
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.8
playwright==1.55.0
plotly==6.3.0
pluggy==1.6.0
pooch==1.8.2
pre_commit==4.3.0
prettytable==3.16.0
privy-client==0.5.0
prometheus_client==0.22.1
prompt_toolkit==3.0.52
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.5
psutil==5.9.6
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybit==5.11.0
pycares==4.9.0
pycodestyle==2.14.0
pycoingecko==3.2.0
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.3
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.1
pydocstyle==6.3.0
pydot==4.0.1
pydub==0.25.1
pydyf==0.11.0
pyee==13.0.0
pyflakes==3.4.0
Pygments==2.19.2
pyhpke==0.6.4
PyJWT==2.10.1
PyMatting==1.1.14
PyMySQL==1.1.1
pyotp==2.9.0
pyparsing==3.2.3
PyPDF2==3.0.1
pyphen==0.17.2
pyproject_hooks==1.2.0
PySocks==1.7.1
pytest==8.0.0
pytest-asyncio==0.23.5
pytest-cov==4.1.0
pytest-env==1.0.1
pytest-mock==3.12.0
pytest-xdist==3.3.1
python-binance==1.0.29
python-dateutil==2.8.2
python-docx==1.2.0
python-dotenv==1.1.0
python-engineio==4.12.2
python-jobspy==1.1.82
python-jose==3.3.0
python-json-logger==3.3.0
python-magic==0.4.27
python-multipart==0.0.20
python-rapidjson==1.21
python-socketio==5.13.0
python-telegram-bot==22.2
pytz==2025.2
pyunormalize==17.0.0
PyYAML==6.0.1
pyzmq==27.1.0
pywebpush==1.14.0
quark-engine==25.9.1
questionary==2.1.1
r2pipe==1.8.0
readmeai==0.6.3
redis==5.0.1
referencing==0.36.2
regex==2024.11.6
rembg==2.0.69
reportlab==4.4.7
requests==2.32.4
requests-file==2.1.0
requests-mock==1.11.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==13.7.0
rlp==4.1.0
rpds-py==0.27.1
rsa==4.9.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
ruff==0.12.12
rzpipe==0.6.2
s3transfer==0.10.4
safehttpx==0.1.7
safety==3.7.0
safety-schemas==0.0.16
sb3_contrib==2.7.0
scapy==2.6.1
schedule==1.2.2
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.16.0
sdnotify==0.3.2
seaborn==0.13.2
selenium==4.39.0
semantic-version==2.10.0
Send2Trash==1.8.3
setuptools==80.9.0
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.20.1
six==1.17.0
slowapi==0.1.9
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soupsieve==2.7
SQLAlchemy==2.0.27
stable_baselines3==2.7.0
stack-data==0.6.3
starlette==0.46.2
stevedore==5.6.0
structlog==24.4.0
sympy==1.14.0
ta==0.11.0
TA-Lib==0.6.7
tabulate==0.9.0
technical==1.5.3
tenacity==8.2.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==2.3.0
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2025.12.12
tiktoken==0.4.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tldextract==5.3.0
tls-client==1.0.1
tomlkit==0.13.3
toolz==1.0.0
torch==2.8.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.32.0
trio-websocket==0.12.2
tronpy==0.6.1
typer==0.20.0
typer-slim==0.20.1
types-cachetools==6.0.0.20250525
types-cffi==1.17.0.20250915
types-pyasn1==0.6.0.20250516
types-PyMySQL==1.1.0.1
types-pyOpenSSL==24.1.0.20240722
types-python-dateutil==2.8.19.20240106
types-python-jose==3.3.4.20240106
types-pytz==2024.1.0.20240203
types-redis==4.6.0.20241004
types-requests==2.31.0.20240218
types-setuptools==80.9.0.20250822
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.6.2
uvicorn==0.34.1
uvloop==0.21.0
vine==5.1.0
virtualenv==20.34.0
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
weasyprint==66.0
web3==7.13.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
# Editable install with no version control (wifi-jammer==1.0.0)
-e /private/tmp/wifi-jammer
wrapt==2.0.1
wsproto==1.2.0
xgboost==3.0.5
yarl==1.20.0
yaspin==3.1.0
yfinance==0.2.65
zopfli==0.2.3.post1
